body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Roboto";
  background: #3b503f; }
  body a {
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }

@font-face {
  font-family: "UTMCopperplate";
  src: url(../fonts/UTMCopperplate.ttf); }

@font-face {
  font-family: "SFUGillSansLight";
  src: url(../fonts/SFUGillSansLight.TTF); }

@media (max-width: 992px) {
  .pc {
    display: none !important; } }

@media (min-width: 993px) {
  .mb {
    display: none !important; } }

.topmenu {
  background: #d7c38f;
  padding: 5px 0; }
  @media (max-width: 992px) {
    .topmenu {
      display: none; } }
  .topmenu .container {
    position: relative; }
  .topmenu .time {
    float: left; }
  .topmenu .logo {
    position: absolute;
    width: 120px;
    top: -5px;
    left: 0;
    right: 0;
    z-index: 9;
    margin: auto; }
    @media (max-width: 1200px) {
      .topmenu .logo {
        width: 100px; } }
  .topmenu .social {
    float: right; }
    .topmenu .social a {
      color: #3d7d4b;
      margin-left: 12px; }

.middle-menu {
  background: url(../images/bkmenu.jpg); }
  .middle-menu .navbar-dark .navbar-toggler {
    border: 0;
    padding-left: 0;
    padding-right: 0; }
    .middle-menu .navbar-dark .navbar-toggler .navbar-toggler-icon {
      background: url(../images/menu.svg); }
  .middle-menu .navbar {
    background: unset;
    padding: 5px 0; }
    .middle-menu .navbar a.nav-link {
      color: #efa124;
      font-size: 15px;
      margin-right: 15px; }
      @media (max-width: 1200px) {
        .middle-menu .navbar a.nav-link {
          font-size: 13px;
          margin-right: 0; } }
      @media (max-width: 992px) {
        .middle-menu .navbar a.nav-link {
          font-size: 15px; } }
    .middle-menu .navbar form {
      position: relative;
      margin-bottom: 0;
      padding-top: 5px;
      margin-left: 20px; }
      @media (max-width: 992px) {
        .middle-menu .navbar form {
          margin-left: 0px;
          margin-top: 10px; } }
      .middle-menu .navbar form input {
        background: #d7c38f;
        border-radius: 50px;
        border: 0;
        font-size: 13px;
        padding: 3px 8px;
        width: 170px; }
        @media (max-width: 1200px) {
          .middle-menu .navbar form input {
            width: 150px; } }
      .middle-menu .navbar form i {
        position: absolute;
        right: 8px;
        top: 10px;
        font-size: 17px; }
    @media (max-width: 992px) {
      .middle-menu .navbar .order-1 {
        margin-top: 15px; } }
    @media (max-width: 992px) {
      .middle-menu .navbar .order-3 {
        margin-bottom: 10px; } }

.content {
  background: #214231;
  padding-top: 15px; }
  .content .wrap-slider {
    position: relative;
    margin-bottom: 50px; }
    .content .wrap-slider .button-slide {
      width: 290px;
      height: 97px;
      background: url(../images/bkslide.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 15px 20px;
      display: flex;
      position: absolute;
      bottom: -45px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 9; }
      .content .wrap-slider .button-slide img {
        width: 60px;
        height: 60px;
        margin: 5px; }
      .content .wrap-slider .button-slide .nextBtnNews,
      .content .wrap-slider .button-slide .previousNews {
        font-size: 19px;
        color: #917345;
        margin: 0 5px;
        margin-top: 25px; }
      @media (max-width: 992px) {
        .content .wrap-slider .button-slide {
          width: 200px;
          height: 71px;
          padding: 10px 5px;
          bottom: -33px; }
          .content .wrap-slider .button-slide img {
            width: 40px;
            height: 40px; }
          .content .wrap-slider .button-slide .nextBtnNews,
          .content .wrap-slider .button-slide .previousNews {
            margin-top: 15px; } }
  .content .info {
    padding-top: 15px; }
    .content .info .ileft {
      width: 65%;
      background: url(../images/bk-home-left.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      float: left;
      padding: 20px; }
      @media (max-width: 992px) {
        .content .info .ileft {
          width: 100%;
          background: url(../images/bk-home-left-mb.jpg);
          background-size: 100% 100%;
          background-repeat: no-repeat; } }
      .content .info .ileft .title {
        border-bottom: solid 1px #b2996a;
        margin-bottom: 30px; }
        .content .info .ileft .title p {
          color: #334637;
          margin-bottom: 0; }
          .content .info .ileft .title p span {
            color: #795a0e;
            font-family: "UTMCopperplate";
            font-size: 28px;
            padding-left: 35px;
            padding-right: 10px; }
          @media (max-width: 992px) {
            .content .info .ileft .title p {
              text-align: center; }
              .content .info .ileft .title p span {
                display: block; } }
      .content .info .ileft p.text {
        text-transform: uppercase;
        text-align: justify;
        line-height: 25px;
        margin-bottom: 1.5em; }
      .content .info .ileft a {
        float: right;
        color: #7d6027;
        border-bottom: solid 1px #7d6027; }
        @media (max-width: 992px) {
          .content .info .ileft a {
            margin-right: 40px;
            margin-bottom: 15px; } }
      .content .info .ileft a:hover {
        color: #334637;
        border-bottom: solid 1px #334637; }
    .content .info .iright {
      width: 35%;
      background: url(../images//bk-home-right.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      float: left;
      padding: 20px;
      padding-bottom: 10px; }
      @media (max-width: 992px) {
        .content .info .iright {
          width: 100%;
          background: url(../images/bk-home-right-mb.jpg);
          background-size: 100% 100%;
          background-repeat: no-repeat; } }
      .content .info .iright .title {
        color: #795a0e;
        font-size: 20px;
        padding-bottom: 0.5em; }
        @media (max-width: 992px) {
          .content .info .iright .title {
            text-align: center; } }
      .content .info .iright p {
        font-size: 13px;
        margin-bottom: 0.5rem; }
        @media (max-width: 992px) {
          .content .info .iright p {
            font-size: 15px; } }
      .content .info .iright form label {
        margin-bottom: 0;
        font-size: 14px; }
      .content .info .iright form .form-group {
        margin-bottom: 0.5rem; }
      .content .info .iright form input {
        padding: 6px 6px;
        height: 32px;
        font-size: 14px;
        border-radius: 0; }
      .content .info .iright form button {
        background: #7d6027;
        padding: 5px 30px;
        border-radius: 0;
        border: 0;
        margin-top: 5px;
        font-family: "SFUGillSansLight"; }
        @media (max-width: 992px) {
          .content .info .iright form button {
            display: inherit;
            margin: auto;
            margin-top: 20px; } }
  .content .history .title {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px; }
  .content .history .timeline {
    padding-top: 25px;
    padding-bottom: 25px; }
    .content .history .timeline .item {
      float: left;
      width: 14.285%; }
      @media (max-width: 992px) {
        .content .history .timeline .item {
          width: 100%;
          background: url(../images/bk-timeline-2-mb.png);
          background-size: 23px 100%;
          background-repeat: no-repeat;
          padding-left: 30px; } }
      .content .history .timeline .item .text {
        position: relative;
        text-align: center;
        padding: 8px;
        color: #fff;
        border-radius: 10px; }
        .content .history .timeline .item .text img {
          display: none;
          position: absolute;
          top: -15px;
          left: 0;
          right: 0;
          margin: auto; }
      .content .history .timeline .item .text:hover {
        background: #2d723c; }
        .content .history .timeline .item .text:hover img {
          display: block; }
      .content .history .timeline .item .text-first {
        padding-left: 0;
        text-align: left; }
      .content .history .timeline .item .title-left {
        background: url(../images/bk-timeline1.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        padding-bottom: 30px;
        color: #d1be94;
        font-family: "UTMCopperplate";
        font-size: 18px; }
        @media (max-width: 992px) {
          .content .history .timeline .item .title-left {
            background: unset;
            padding-bottom: 0; } }
      .content .history .timeline .item .title-center {
        background: url(../images/bk-timeline2.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        padding-bottom: 30px;
        text-align: center;
        color: #d1be94;
        font-family: "UTMCopperplate";
        font-size: 18px; }
        @media (max-width: 992px) {
          .content .history .timeline .item .title-center {
            background: unset;
            text-align: left;
            padding-top: 5px;
            padding-bottom: 0; } }

.map .container {
  padding: 0; }

.info-bottom {
  background: #214231;
  color: #fff;
  font-size: 12px;
  padding: 10px 0; }
  @media (max-width: 992px) {
    .info-bottom {
      font-size: 14px;
      line-height: 25px;
      text-align: center; } }

.img_banner {
  width: 100%;
  padding: 0; }
  .img_banner .container .row img {
    width: 100%; }

.list_articles_previews .container .row .list_articles_left {
  background: url("../images/du-lich/bg.png");
  background-size: cover;
  padding-top: 50px; }
  @media (max-width: 500px) {
    .list_articles_previews .container .row .list_articles_left {
      padding-top: 0; } }
  .list_articles_previews .container .row .list_articles_left h2.title_cat {
    color: #777c60;
    font-family: "UTMCopperplate";
    font-size: 28px;
    padding-right: 10px;
    padding-bottom: 15px; }
    @media (max-width: 992px) {
      .list_articles_previews .container .row .list_articles_left h2.title_cat {
        font-size: 24px;
        text-align: center;
        padding-bottom: 0; } }
  .list_articles_previews .container .row .list_articles_left .title_list_articles {
    background: url(../images/du-lich/bg-du-lich.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 55px; }
    @media (max-width: 500px) {
      .list_articles_previews .container .row .list_articles_left .title_list_articles {
        display: none; } }
    .list_articles_previews .container .row .list_articles_left .title_list_articles ul {
      margin: 0; }
      .list_articles_previews .container .row .list_articles_left .title_list_articles ul li {
        list-style: none;
        display: inline;
        padding: 10px 10px 10px;
        line-height: 47px; }
        .list_articles_previews .container .row .list_articles_left .title_list_articles ul li a {
          font-size: 16px;
          color: #777c60;
          padding-bottom: 15px;
          padding-top: 5px;
          margin-top: 10px;
          text-transform: uppercase;
          text-align: center; }
          @media (max-width: 992px) {
            .list_articles_previews .container .row .list_articles_left .title_list_articles ul li a {
              font-size: 14px;
              padding: 10px 0px; } }
      .list_articles_previews .container .row .list_articles_left .title_list_articles ul li.active {
        border-bottom: 4px solid #efa124;
        text-align: center; }
  .list_articles_previews .container .row .list_articles_left .detail-article p.contents {
    font-family: "Roboto";
    text-align: justify;
    padding: 0px 15px; }
  .list_articles_previews .container .row .list_articles_left .detail-article span.time {
    color: gray;
    padding: 0px 15px; }
  .list_articles_previews .container .row .list_articles_left .detail-article p.description {
    padding-left: 15px !important;
    font-weight: 600; }
  .list_articles_previews .container .row .list_articles_left .detail-article h3.title_articles {
    color: #795a0e;
    font-size: 26px;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    padding: 15px; }
  .list_articles_previews .container .row .list_articles_left .detail-article i.float-right.bold {
    font-weight: 600;
    color: #393939; }
  .list_articles_previews .container .row .list_articles_left .detail-article img {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px; }
  .list_articles_previews .container .row .list_articles_left .detail-article .tags {
    width: 100%;
    margin: 10px 0px; }
    .list_articles_previews .container .row .list_articles_left .detail-article .tags img {
      width: 25px !important;
      margin: 0 !important;
      padding: 0 5px 0px 0px; }
    .list_articles_previews .container .row .list_articles_left .detail-article .tags a.tags {
      background: #8f7e56;
      color: #ffff;
      padding: 3px 5px;
      margin: 0px 5px; }
    .list_articles_previews .container .row .list_articles_left .detail-article .tags b {
      color: #8f7e56; }
  .list_articles_previews .container .row .list_articles_left .title_list_articles {
    background: url("../images/du-lich/bg-du-lich.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .list_articles_previews .container .row .list_articles_left .title_list_articles h3.title {
      color: #777c60;
      font-family: "UTMCopperplate";
      font-size: 28px;
      padding-left: 10%;
      padding-right: 10px;
      padding-bottom: 15px;
      padding-top: 5px; }
      @media (max-width: 992px) {
        .list_articles_previews .container .row .list_articles_left .title_list_articles h3.title {
          font-size: 26px;
          padding-left: 0;
          text-align: center; } }
  .list_articles_previews .container .row .list_articles_left .bottom-border {
    background: url("../images/du-lich/bg-list-articles.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 80px;
    height: 50px; }
    @media (max-width: 992px) {
      .list_articles_previews .container .row .list_articles_left .bottom-border {
        margin-bottom: 0; } }
  .list_articles_previews .container .row .list_articles_left .item_articles {
    display: flex;
    padding: 20px 0px;
    border-bottom: 2px solid #e7dbaa; }
    @media (max-width: 600px) {
      .list_articles_previews .container .row .list_articles_left .item_articles {
        padding: 10px 0px 20px 0px;
        width: 100%;
        display: inline-block; }
        .list_articles_previews .container .row .list_articles_left .item_articles .item_articles_img img {
          width: 100%;
          margin: 10px 0px; } }
    .list_articles_previews .container .row .list_articles_left .item_articles .item_articles_img {
      float: left; }
      .list_articles_previews .container .row .list_articles_left .item_articles .item_articles_img img {
        width: 100%; }
    .list_articles_previews .container .row .list_articles_left .item_articles .item_articles_content {
      float: right;
      text-align: justify; }
      .list_articles_previews .container .row .list_articles_left .item_articles .item_articles_content h3.title {
        font-size: 22px;
        text-transform: uppercase;
        color: #795a0e; }
      .list_articles_previews .container .row .list_articles_left .item_articles .item_articles_content p.description {
        padding: 0;
        margin: 0; }
      .list_articles_previews .container .row .list_articles_left .item_articles .item_articles_content .view_more {
        color: #7d6027;
        border-bottom: solid 1px #7d6027; }
  .list_articles_previews .container .row .list_articles_left nav.page {
    font-family: "GothamMedium";
    padding-top: 20px;
    display: flex;
    justify-content: center; }
  .list_articles_previews .container .row .list_articles_left ul.pagination li {
    padding: 10px; }
  .list_articles_previews .container .row .list_articles_left ul.pagination li.active a {
    background: #d5c99b;
    padding: 10px 15px;
    border-radius: 50%;
    color: #856a34; }
  .list_articles_previews .container .row .list_articles_left ul.pagination li.next a {
    border: none; }
  .list_articles_previews .container .row .list_articles_left ul.pagination li a {
    padding: 10px 15px;
    border-radius: 50%;
    color: #856a34;
    background: none;
    border: 1px solid #d8cc9e; }

.list_articles_previews .container .row .list_articles_right {
  background: url("../images/du-lich/bg.png");
  background-size: cover;
  padding-top: 50px; }
  .list_articles_previews .container .row .list_articles_right .cat {
    padding: 28px; }
  .list_articles_previews .container .row .list_articles_right .title_list_articles {
    background: url("../images/du-lich/bg-xem-nhieu-nhat.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .list_articles_previews .container .row .list_articles_right .title_list_articles h3.title {
      color: #777c60;
      font-family: "UTMCopperplate";
      font-size: 28px;
      padding-left: 15%;
      padding-right: 10px;
      padding-bottom: 15px;
      padding-top: 5px; }
      @media (max-width: 992px) {
        .list_articles_previews .container .row .list_articles_right .title_list_articles h3.title {
          font-size: 24px;
          text-align: center;
          padding-left: 0; } }
      @media (max-width: 500px) {
        .list_articles_previews .container .row .list_articles_right .title_list_articles h3.title {
          font-size: 18px;
          text-align: center; } }
  .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed_date {
    width: 100%;
    display: block;
    padding: 20px 0px;
    border-bottom: 1px solid #c6b77f; }
    .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed_date a h3.title_new {
      font-size: 22px;
      color: #795a0e; }
    .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed_date a.cat_articles {
      color: #ffff;
      background: #3d7d4b;
      padding: 3px 10px;
      border-radius: 3px;
      text-transform: uppercase; }
  .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed {
    display: flex;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #e7dbaa; }
    .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed .item_articles_content {
      float: right;
      margin: 0;
      padding: 0; }
      .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed .item_articles_content a h3.title {
        font-size: 18px;
        color: #795a0e; }
    .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed .item_articles_img {
      font-size: smaller; }
      .list_articles_previews .container .row .list_articles_right .item_articles_more_viewed .item_articles_img img {
        width: 100%; }

.content .banner {
  width: 100%; }
  .content .banner img {
    width: 100%; }

.thu_vien_anh {
  background: url(../images/hinh-anh/bg-thu-muc-hinh.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px 50px 10px 50px;
  display: inline-block;
  width: 100%;
  margin: 15px 0px; }
  @media (max-width: 992px) {
    .thu_vien_anh {
      padding: 10px; } }
  .thu_vien_anh h3.title {
    border-bottom: 1px solid #f75b5b;
    padding-bottom: 10px;
    color: #795a0e;
    font-family: "UTMCopperplate";
    font-size: 28px;
    padding-right: 10px; }
    @media (max-width: 992px) {
      .thu_vien_anh h3.title {
        font-size: 24px;
        text-align: center; }
        .thu_vien_anh h3.title img {
          width: 20px; } }
    @media (max-width: 500px) {
      .thu_vien_anh h3.title {
        font-size: 18px;
        text-align: center; }
        .thu_vien_anh h3.title img {
          width: 15px; } }
  .thu_vien_anh .albums {
    position: relative;
    width: 15%;
    margin: 0 5% 0 0;
    float: left;
    padding: 20px 0px; }
    .thu_vien_anh .albums a {
      color: #795a0e;
      font-size: 16;
      font-weight: bold;
      display: block;
      padding: 10px 0px; }
    @media (max-width: 992px) {
      .thu_vien_anh .albums {
        width: 27%;
        margin: 0 6% 0 0; } }
    @media (max-width: 992px) {
      .thu_vien_anh .albums {
        width: 27%;
        margin: 0 6% 0 0; } }
    .thu_vien_anh .albums img.avatar {
      width: 100%;
      z-index: 99;
      border: 2px solid #ffff;
      position: relative; }
    .thu_vien_anh .albums img.sub_avatar {
      position: absolute;
      transform: rotate(5deg);
      left: 30px;
      width: 90%;
      top: 25px;
      z-index: 10;
      border: 2px solid #ffff;
      -webkit-filter: grayscale(1);
      filter: grayscale(1); }
      @media (max-width: 992px) {
        .thu_vien_anh .albums img.sub_avatar {
          left: 20px; } }
      @media (max-width: 500px) {
        .thu_vien_anh .albums img.sub_avatar {
          left: 15px; } }
  .thu_vien_anh nav.page {
    width: 100%;
    font-family: "GothamMedium";
    padding-top: 20px;
    display: flex;
    justify-content: center;
    display: inline-block; }
  .thu_vien_anh ul.pagination li {
    padding: 10px; }
  .thu_vien_anh .pagination {
    justify-content: center; }
  .thu_vien_anh ul.pagination li.active a {
    background: #795a0e !important;
    padding: 10px 15px;
    border-radius: 50%;
    color: #ffff; }
  .thu_vien_anh ul.pagination li.next a {
    border: none; }
  .thu_vien_anh ul.pagination li a {
    padding: 10px 15px;
    border-radius: 50%;
    color: #856a34;
    background: none;
    border: 1px solid #d8cc9e; }

.thu_vien_video {
  background: url(../images/hinh-anh/bg-thu-muc-hinh.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px 50px 10px 50px;
  display: inline-block;
  width: 100%;
  margin: 15px 0px; }
  @media (max-width: 992px) {
    .thu_vien_video {
      padding: 10px; } }
  .thu_vien_video .videos {
    margin-bottom: 15px;
    width: 32%;
    margin-right: 1.333333%;
    float: left; }
    .thu_vien_video .videos a {
      color: #795a0e;
      font-size: 16px;
      font-weight: bold;
      display: block;
      padding: 10px 0px; }
    @media (max-width: 992px) {
      .thu_vien_video .videos {
        width: 48%;
        margin-bottom: 15px; } }
    @media (max-width: 500px) {
      .thu_vien_video .videos {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px; } }
  .thu_vien_video h3.title {
    border-bottom: 1px solid #f75b5b;
    padding-bottom: 10px;
    color: #795a0e;
    font-family: "UTMCopperplate";
    font-size: 28px;
    padding-right: 10px; }
    @media (max-width: 992px) {
      .thu_vien_video h3.title {
        font-size: 24px;
        text-align: center; }
        .thu_vien_video h3.title img {
          width: 20px; } }
    @media (max-width: 500px) {
      .thu_vien_video h3.title {
        font-size: 18px;
        text-align: center; }
        .thu_vien_video h3.title img {
          width: 15px; } }
  .thu_vien_video nav.page {
    width: 100%;
    font-family: "GothamMedium";
    padding-top: 20px;
    display: flex;
    justify-content: center;
    display: inline-block; }
  .thu_vien_video ul.pagination li {
    padding: 10px; }
  .thu_vien_video .pagination {
    justify-content: center; }
  .thu_vien_video ul.pagination li.active a {
    background: #795a0e !important;
    padding: 10px 15px;
    border-radius: 50%;
    color: #ffff; }
  .thu_vien_video ul.pagination li.next a {
    border: none; }
  .thu_vien_video ul.pagination li a {
    padding: 10px 15px;
    border-radius: 50%;
    color: #856a34;
    background: none;
    border: 1px solid #d8cc9e; }

footer .container .footer {
  background: url(../images/bk-footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  @media (max-width: 992px) {
    footer .container .footer {
      background: url(../images/bk-footer-mb.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 30px; } }
  footer .container .footer .logo-footer-mb {
    width: 100%;
    text-align: center;
    padding-top: 20px; }
    footer .container .footer .logo-footer-mb img {
      width: 100px;
      height: auto;
      display: inline-block; }
  footer .container .footer .left {
    width: 42%;
    padding-top: 20px;
    padding-left: 40px; }
    @media (max-width: 992px) {
      footer .container .footer .left {
        width: 50%; } }
    footer .container .footer .left .title {
      color: #fff;
      font-size: 17px; }
    footer .container .footer .left .link a {
      display: block;
      color: #b4bbb5;
      margin-bottom: 8px;
      font-size: 14px; }
  footer .container .footer .middle {
    width: 16%;
    padding: 15px; }
    footer .container .footer .middle img {
      width: 100%; }
    @media (max-width: 992px) {
      footer .container .footer .middle {
        width: 0;
        display: none; } }
  footer .container .footer .right {
    width: 42%;
    padding-top: 20px;
    padding-left: 20px; }
    @media (max-width: 992px) {
      footer .container .footer .right {
        width: 50%; } }
    footer .container .footer .right .title {
      color: #fff;
      font-size: 17px; }
    footer .container .footer .right .row {
      color: #b4bbb5; }
      footer .container .footer .right .row img {
        width: 30px; }
      footer .container .footer .right .row .col-md-6 {
        padding: 7px 0;
        font-size: 14px; }

@media (min-width: 1200px) {
  .modal-slider .modal-dialog {
    max-width: 1110px;
    margin-top: 60px; } }

@media (max-width: 992px) {
  .modal-slider .modal-dialog {
    margin-top: 50px; } }

.modal-slider .modal-header {
  position: relative;
  border: 0;
  padding: 0; }

.modal-slider .close {
  opacity: 1;
  position: absolute;
  padding: 0;
  top: 0px;
  right: 0px; }
  .modal-slider .close img {
    width: 30px; }

.modal-slider .previousNews, .modal-slider .nextBtnNews {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  height: 40px; }
  .modal-slider .previousNews img, .modal-slider .nextBtnNews img {
    width: 40px; }

.modal-slider .previousNews {
  left: -40px; }

.modal-slider .nextBtnNews {
  right: -40px; }

.modal-slider p {
  margin-bottom: 0;
  color: #795a0e;
  font-size: 20px;
  margin-top: 15px; }

/*# sourceMappingURL=style.css.map */